@page "/"
@inject IJSRuntime JsRuntime
<div class="container" id="home">
    <div class="row align-items-center">
        <div class="col-sm">
            <Div BlazorAOS="slide-right" Animate="true">
                <h1 class="title">
                    <b>Entrenamiento gratuito en línea</b>
                </h1>
                <p>
                    <span class="title-blazor"><b>Blazor WebAssembly</b></span>
                </p>
                <p class="subtitle">
                    <span><i><b>Edición de Comunidad</b></i></span>
                </p>
            </Div>
            <Div BlazorAOS="zoom-in" ClassName="home-text" Animate="true">
                <p>
                    Aprende a desarrollar aplicaciones web interactivas del lado del
                    cliente utilizando <b style="color:rgb(197,21,21)"><i>HTML + CSS + C#</i></b> con <b><i>Blazor WebAssembly con .NET 5</i></b>.
                </p>
            </Div>
            <Div ClassName="home-text" BlazorAOS="slide-right" Animate="true">
                <p>
                    En este entrenamiento desarrollaremos una aplicación web <b><i>SPA</i></b> con funcionalidad <b><i>PWA</i></b>,
                    desde la creación de la solución utilizando la plantilla <i>Blazor WebAssembly</i> con
                    <i>Visual Studio 2019</i> hasta la publicación de esta en <b><i>Microsoft Azure</i></b>.
                </p>
                <p>Incorporaremos autenticación y autorización de usuarios utilizando <b><i>OpenID Connect</i></b>.</p>
            </Div>
            <Div ClassName="home-section-text" BlazorAOS="zoom-in" Animate="true">
                <p>
                    <span class="title-instructor">Instructor</span>
                    <a href="https://mvp.microsoft.com/es-es/PublicProfile/21053" target="_blank">
                        Miguel Muñoz Serafín&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
                    </a><br>
                    Microsoft MVP - Developer Technologies&nbsp;<br>
                </p>
            </Div>
        </div>
        <Div ClassName="col-sm" BlazorAOS="fade-down-left" Animate="true">
            <img class="img-home img-fluid" src="images/blazorDevRedP450.png">
        </Div>
    </div>
</div>
<div class="container" id="modality">
    <Div BlazorAOS="slide-left" Animate="true">
        <div class="text-center">
            <span class="subtitle-span"><b>Modalidad</b></span>
        </div>
    </Div>
    <div class="row align-items-center">
        <div class="col-sm text-center">
            <Div BlazorAOS="zoom-in-left" Animate="true">
                <img class="img-cloud img-fluid" src="images/Cloud450.png">
            </Div>
        </div>
        <div class="col-sm modality-text">
            <Div BlazorAOS="zoom-in" Animate="true">
                <p>
                    Sesiones semanales en vivo los <b><i>viernes</i></b> a través de <b><i>Microsoft Teams</i></b>.
                </p>
                <p>
                    <b>Fecha de inicio:</b><br> 4 de junio de 2021
                </p>
                <!--!--><p>
                    <b>Horario:</b><br>19 a 22 horas tiempo de la ciudad de México.
                </p>
                <p>
                    Registrate <a href="https://forms.office.com/r/UmsS24QQj8" target="_blank"><u><b>AQUÍ</b></u></a> para unirte al equipo en Microsoft Teams.
                </p>
                <!--!--><p>
                    <b>Enlace de la reunión:</b> <br>
                    Después de registrarte accede a las reuniones&nbsp;<a href="https://bit.ly/3wZjgSj" target="_blank"><u><b>AQUÍ</b></u></a>.
                </p>
            </Div>
        </div>
    </div>
</div>
<div class="container" id="audience">
    <Div BlazorAOS="slide-right" Animate="true">
        <div style="text-align:center">
            <span class="subtitle-span"><b>Audiencia</b></span>
        </div>
    </Div>
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-6">
            <Div BlazorAOS="zoom-in" Animate="true">
                <p class="text-center">
                    Este entrenamiento está dirigido a personas&nbsp;con conocimientos básicos de&nbsp;HTML, CSS y C#
                    que deseen conocer la forma de desarrollar aplicaciones web&nbsp;<i>SPA</i>&nbsp;y&nbsp;
                    <i>PWA</i>&nbsp;utilizando&nbsp;<i>Blazor WebAssembly</i>.&nbsp;&nbsp;
                </p>
                <span class="title-audience">Requisitos</span>
                <p class="text-left">
                </p><ul>
                    <li>
                        Visual Studio 2019 16.10 o posteriores con la carga de trabajo <b><i>ASP.NET and web development</i></b>.
                    </li>
                    <li>
                        .NET 5.0 SDK (v5.0.300) o posteriores.
                    </li>
                </ul>
                <p></p>
            </Div>
        </div>
        <div class="col-sm-12 col-md-6 order-first order-sm-last text-center">
            <Div BlazorAOS="fade-down-left" Animate="true">
                <img class="img-bot img-fluid" src="images/DotNetBotRed450.png">
            </Div>
        </div>
    </div>
</div>
<div class="container" id="resources">
    <Div BlazorAOS="slide-left" Animate="true">
        <div style="text-align:center">
            <span class="subtitle-span"><b>Recursos</b></span>
        </div>
    </Div>
    <div class="row align-items-center resource-text">
        <div class="col-sm-4 col-lg-4 text-right">
            <Div BlazorAOS="fade-down-left" Animate="true">
                <img class="img-video" src="images/YouTube100.png">
            </Div>
        </div>
        <div class="col-sm-8 col-lg-8 text-left">
            <Div BlazorAOS="zoom-in" Animate="true">
                <span class="titles-resources">Sesiones grabadas</span>
                Puedes encontrar&nbsp;<!--!--><a href="https://youtube.com/playlist?list=PLsi0_y2gnnl7m3AbRssOFcL_mCTJLLQLz" target="_blank"><u>AQUÍ</u></a>
                la lista de&nbsp;las sesiones&nbsp;grabadas.
            </Div>
        </div>
    </div>
    <div class="row align-items-center resource-text">
        <div class="col-sm-4 col-lg-4 text-right">
            <Div BlazorAOS="fade-down-left" Animate="true">
                <img class="img-video" src="images/Facebook130.png">
            </Div>
        </div>
        <div class="col-sm-8 col-lg-8 text-left">
            <Div BlazorAOS="zoom-in" Animate="true">
                <span class="titles-resources">Grupo de apoyo en Facebook</span>
                Únete al&nbsp;<!--!--><a href="https://www.facebook.com/groups/blazordiplomado" target="_blank">
                    <u>Grupo de Facebook</u>
                </a> para&nbsp;interactuar con otros participantes y&nbsp;recibir notificaciones del entrenamiento.&nbsp;
            </Div>
        </div>
    </div>
    <div class="row align-items-center resource-text">
        <div class="col-sm-4 col-lg-4 text-right">
            <Div BlazorAOS="fade-down-left" Animate="true">
               <form action="https://www.paypal.com/donate" method="post" target="_top">
                    <input type="hidden" name="hosted_button_id" value="ZJQ8J5JLGAKG6">
                    <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button">
                    <img alt="" border="0" src="https://www.paypal.com/es_MX/i/scr/pixel.gif" width="1" height="1">
                </form>
            </Div>
        </div>
        <div class="col-sm-8 col-lg-8 text-left">
            <Div BlazorAOS="zoom-in" Animate="true">
                <span class="titles-resources">¿Deseas apoyar a la comunidad?</span>
                Ahora puedes apoyar para seguir generando contenido gratuito para la comunidad de desarrolladores.&nbsp;
            </Div>
        </div>
    </div>
    <div class="row align-items-center resource-text">
        <div class="col text-left">
            <Div BlazorAOS="zoom-in" Animate="true">
                <span class="titles-resources">Recursos adicionales</span>
                Los siguientes son algunos de los recursos gratuitos o con costo disponibles que te pueden ayudar a seguir aprendiendo <!--!--><b><i>Blazor</i></b>.
            </Div>
        </div>
    </div>
    <div class="row align-items-center resource-text">
        <div class="col-sm-4 col-lg-4 text-right">
           <Div BlazorAOS="fade-down-left" Animate="true">
                <img class="img-video" src="images/Amazon100.png">
            </Div>
        </div>
        <div class="col-sm-8 col-lg-8 text-left">
            <Div BlazorAOS="zoom-in" Animate="true">
                <span class="titles-resources">Manual de estudiante</span>
                Puedes adquirir el manual de estudiante disponible&nbsp;en&nbsp;
                <a href="https://www.amazon.com/dp/B096TRTXCK/" target="_blank"><u>Amazon.</u></a>
            </Div>
        </div>
    </div>
    <div class="row align-items-center resource-text">
        <div class="col-sm-4 col-lg-4 text-right">
            <Div BlazorAOS="fade-down-left" Animate="true">
                <img class="img-logoti" src="images/Logo57x59.png">
            </Div>
        </div>
        <div class="col-sm-8 col-lg-8 text-left">
               <Div BlazorAOS="zoom-in" Animate="true">
                <span class="titles-resources">Blazor WebAssembly</span>
                Esta es la versión con costo del <!--!--><a href="https://ticapacitacion.com/catalog/blazorw5" target="_blank">
                    <u>Entrenamiento <i>Blazor WebAssembly</i></u>
                </a>
                en formato PDF.&nbsp;
                <p>Solicita informes sobre la beca de apoyo especial como participante del entrenamiento escribiendo a informes@ticapacitacion.com.</p>
              </Div>
        </div>
    </div>
</div>

