@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<div class="w3-top  nav-blazor">
    <div class="container-fluid">
        @*<img src="images/DotNetPueblaRed.png" id="logo">*@
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right  w3-text-white">
            <span class="w3-bar-item w3-button nav-hover text-center" @onclick="@(() => Show("home"))" style="cursor:pointer;">
                <i class="fa fa-home w3-xlarge"></i>
                <span class="menu-item">Inicio</span>
            </span>
            <span class="w3-bar-item w3-button  nav-hover text-center" @onclick="@(() => Show("modality"))" style="cursor:pointer;">
                <i class="fa fa-book w3-xlarge"></i>
                <span class="menu-item">Modalidad</span>
            </span>
            <span class="w3-bar-item w3-button  nav-hover text-center" @onclick="@(() => Show("audience"))" style="cursor:pointer;">
                <i class="fa fa-user w3-xlarge"></i>
                <span class="menu-item">Audiencia</span>
            </span>
            <span class="w3-bar-item w3-button  nav-hover text-center" @onclick="@(() => Show("resources"))" style="cursor:pointer;">
                <i class="fa fa-envelope w3-xlarge"></i>
                <span class="menu-item">Recursos</span>
            </span>
        </div>
    </div>
</div>







<div class="main">
    @Body
</div>


<div class="container-fluid text-center w3-text-white footer">

    <span class="title-patrocinadopor">Patrocinado por:</span><br>
    <div class="row align-items-center">
        <div class="col text-right">
            <Div BlazorAOS="fade-down-right" Animate="true">
                <a href="http://dotnetpuebla.com" target="_blank"><img src="images/DotNetPueblaRed.png"></a>
            </Div>
        </div>
        <div class="col text-left">
            <Div BlazorAOS="fade-down-left" Animate="true">
                <a href="https://ticapacitacion.com" target="_blank"><img src="images/ti85x85.png"></a>
            </Div>
        </div>
    </div>
</div>


@code{

    void Show(string id)
    {
        JsRuntime.InvokeVoidAsync("NavigateTo", id);
    }
}